%table.table.table-striped
  %tr
    %th User
    %th Duration
    %th Date / Time
    %th Call Type
    %th From
    %th To
  - @logs.each do |log|
    %tr
      %td= log.user.name
      %td= "#{log.duration / 60} M : #{log.duration % 60} S"
      %td= log.start_time.in_time_zone("Pacific Time (US & Canada)").strftime("%m-%d-%Y | %H:%m%p")
      %td= log.call_type
      %td= log.from
      %td= log.to

= paginate @logs
